

body 	{
	/*entremedio de los paréntesis de a continuación pueden poner la dirección 
	de cualquier imagen de fondo de la web. Yo probé con muchas pero ninguna me convenció*/
	background-image:url(http://nubes.balearweb.net/get/Pajaros%20llegando%20a%20un%20remolino%20con%20fondo%20de%20nubes.jpg);
	background-size: cover; 
}
/*Todos los coleres son modificables*/
/*H1 es Circus Squad*/
h1 	{
	font-family: serif;
	color:green;
	font-size: 50px;
}
/*H2 Quienes somos*/
h2 	{
	font-family: cursive;
	color:gray;
	font-size: 15px;
}
/*Aprender haciendo*/
p 	{
	font-family: Courier;
	font-size: 20px;
	color:black;
}
/*H3 son los nombres de cada una*/
h3 	{
	color:gray;
	font-family: cursive;
	font-size: 15px;
}
/*H4 es La práctica hace al maestro*/
h4 	{
	font-size: 15px;
	font-family: Courier;
}
img 	{
	border: 2px double black;
}

div 	{
	display: inline;
}